.btn {
  padding: 12px 32px;
  font-weight: bold;
  background-color: $primary;
  color: $white;
  border-radius: $radius-sm;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  align-self: start;
  justify-self: start;
  z-index: 1;
  position: relative;
  height: 48px;
  border: none;
  cursor: pointer;
  transition: 0.4s all ease;
  position: relative;
  &:hover {
    background-color: $primary-light;
  }

  &--full-width {
    width: 100%;
  }

  &--rounded {
    border-radius: $radius-l;
  }

  &--active {
    overflow: hidden;
    &:after {
      opacity: 0;
    }
    &:active,
    &:focus {
      &:after {
        position: absolute;
        content: "Copied!";
        transition: 0.4s all ease;
        display: flex;
        opacity: 1;
        align-items: center;
        justify-content: center;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $violet;
        border-radius: inherit;
      }
    }
  }
}
