.btn {
  padding: 12px 32px;
  font-weight: bold;
  background-color: $primary;
  color: $white;
  border-radius: 6px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  align-self: start;
  justify-self: start;
  z-index: 1;
  position: relative;
  height: 48px;
  border: none;

  cursor: pointer;

  transition: 0.4s all ease;

  &:hover {
    background-color: $primary-light;
  }

  &--rounded {
    border-radius: 32px;
  }
}
