.cards {
  overflow: hidden;
  background-color: $grey-bg;
  padding: 120px 0;

  &__container {
    padding: 110px 0 0 0;
    z-index: 1;
    position: relative;
    @media (min-width: $min-width-lg) {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }
  }
}
.card {
  position: relative;
  background-color: $white;
  border-radius: $radius-md;
  max-width: 600px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  &:nth-of-type(2) {
    margin-top: 88px;

    &:after {
      content: "";
      position: absolute;
      background-color: $primary;
      width: 6px;
      height: 200%;
      z-index: -1;
      top: -50%;

      @media (min-width: $min-width-lg) {
        width: 200%;
        height: 6px;
        top: 40%;
        left: 50%;
        transform: translate(-40%);
      }
    }

    @media (min-width: $min-width-lg) {
      margin-top: 44px;
    }
  }

  &:nth-of-type(3) {
    margin-top: 88px;
  }

  &:not(:last-of-type) {
    @media (min-width: $min-width-lg) {
      margin-right: 24px;
    }
  }

  @media (min-width: $min-width-lg) {
    max-width: 352px;
    width: 100%;
  }

  &__icon {
    background-color: $violet;
    position: absolute;

    padding: 16px;
    border-radius: $radius-xl;
    width: 86px;
    height: 86px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -48px;
    left: 50%;
    transform: translateX(-50%);

    @media (min-width: $min-width-lg) {
      left: 24px;
      transform: none;
    }
  }

  &__title {
    margin: 0 0 24px 0;
  }

  &__inner {
    padding: 80px 32px 24px 24px;
    text-align: center;

    @media (min-width: $min-width-lg) {
      text-align: left;
    }
  }
}
