.form {
  background-color: $grey-bg;
  &__inner {
    position: relative;
    background-color: $violet;
    border-radius: $radius-sm;
    padding: 24px;
    overflow: hidden;
    min-height: 157px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (min-width: $min-width-l) {
      padding: 16px;
      flex-direction: row;
    }

    .btn {
      margin: 44px auto 0 auto;
      align-self: center;

      @media (min-width: $min-width-l) {
        max-width: 190px;
        margin: 0 0 0 24px;
      }
    }
  }

  &__icon {
    position: absolute;
    top: 0;

    right: 0;
    bottom: 0;
  }

  &__results {
    margin: 24px auto 0 auto;
  }
}

.field {
  width: 100%;
  position: relative;
  z-index: 1;
  .input {
    width: 100%;
    border-radius: $radius-sm;
    padding: 12px 16px;

    &__error {
      border: 2px solid $red;

      &__message {
        color: $red;
        font-size: 12px;
        padding: 4px 0;
        position: absolute;
        top: 100%;
        left: 0;
      }
    }
  }
}
