.header {
  padding: 32px 0 0 0;

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 44px 0 0;
  }

  &__link {
    transition: 0.4s all ease;
    &:hover {
      color: $blue-dark;
    }
  }

  &__nav {
    .header__link {
      &:not(:last-of-type) {
        margin-right: 32px;
      }
    }
  }
  .container {
    display: flex;
  }
  &__inner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__right {
      .btn {
        margin: 0 0 0 32px;
      }
    }
  }
}
