.hero {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  align-items: center;

  @media (min-width: $min-width-l) {
    min-height: calc(100vh - 83px);
  }

  .container {
    padding: 0 0 0 16px;
    display: flex;
    flex-direction: column-reverse;

    @media (min-width: $min-width-sm) {
      padding: 0 16px;
    }
    @media (min-width: $min-width-l) {
      display: initial;
    }
  }
  &__inner {
    position: relative;
    width: 100%;
    padding: 0 16px 0 0;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .btn {
      align-self: center;

      @media (min-width: $min-width-l) {
        align-self: initial;
      }
    }

    @media (min-width: $min-width-sm) {
      padding: 0;
    }

    @media (min-width: $min-width-l) {
      max-width: 580px;
      display: block;
      width: 100%;
      margin: 0;
    }

    &__title {
      margin: 0 0 8px 0;
    }

    &__description {
      max-width: 500px;
      width: 100%;
      margin: 0 0 32px 0;
      text-align: center;

      @media (min-width: $min-width-l) {
        text-align: left;
      }
    }
  }
  &__icon {
    width: 100%;
    margin: 0 auto;

    svg {
      width: 100%;
      min-height: 340px;

      g {
        transform: scale(70%);

        @media (min-width: $min-width-md) {
          transform: none;
        }
      }

      @media (min-width: $min-width-md) {
        min-height: 482px;
      }
    }
    @media (min-width: $min-width-l) {
      width: initial;
      position: absolute;
      margin: 0;
      top: 50%;
      right: -20%;
      transform: translateY(-50%);
    }
  }
}
