h1,
h2,
h3,
h3,
h5,
h6,
p {
  margin: 0;
}

h1 {
  margin: 0;
  font-size: 32px;
  line-height: 1.2;
  font-weight: 700;
  text-align: center;
  @media (min-width: $min-width-l) {
    font-size: 76px;
    text-align: left;
  }
}

h2 {
  margin-bottom: 24px;
  font-size: 28px;
  @media (min-width: $min-width-l) {
    font-size: 44px;
  }
}

h3 {
  font-size: 22px;
  font-weight: 700;
}

p,
a {
  font-weight: 500;
}
